extend head

block title
    title #{title}

block content
    #content.row
      .span8
        .page-header
          h3.title 找回密码
        if typeof success !== 'undefined'
          p.page-header #{success}
        else
          form.form-horizontal(method='post', action='/forgot')
            if typeof error !== 'undefined'
              .control-group.error
                label.control-label
                .controls
                  span.help-inline #{error}
            .control-group
              label.control-label(for='inputEmail') 注册邮箱
              .controls
                input#inputEmail(type='email', name='email', placeholder='username@example.com')
            .form-actions
              button.btn.btn-success(type='submit') 取回密码
      .span4