!!! 5
html(lang='en')
  head
    meta(charset='UTF-8')
    block title
    link(rel='stylesheet', href='/static/stylesheets/bootstrap.css', media='all')
    link(rel='stylesheet', href='/static/stylesheets/style.css', media='all')
    link(rel='stylesheet', href='/static/stylesheets/chat.css', media='all')
    block css
    script(src='/static/javascripts/jquery-1.9.1.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/static/javascripts/chat.js')
    script
      $(function() {
        $('#search').bind("submit", function(e) {
          e.preventDefault();
          var q = $('#searchInput').val();
          if (q) {
            window.open('http://www.google.com/search?q=site:'+ document.location.host +'%20' + q, "_blank");
          }
        });
      });

    block script
  body
    #header.header
      .logo
        a(href='/')
          img(src='/static/images/logo.png', alt='NodeExchange', width='180px;')
      .top.clearfix
        form#search.top-item.header-search()
          input#searchInput(type='text', name='text', placeholder='请输入关键字', style='width: 350px; margin-top: 10px;')
          button.btn(type='submit')
            | 搜索
        .top-item.header-right
          if locals.userInfo
            a(href='/user/profile') #{userInfo.phone}
            a.btn.btn-info(href='/logout') logout
          else
            a.btn.btn-success(href='/register') 注册
            a.btn.btn-info(href='/login') 登录
      .nav
        ul.unstyled.clearfix
          li
            a(href='/') 首页
          li
            a(href='/create') 发布信息
          li#category
            a(href='#') 分类
            ul.unstyled.sub-item
              each item in firstCategoryInfo
                li.item
                  a(href="/#{item.categoryEnglish}") #{item.category}
          li
            a(href='/user/profile') 个人中心
    .container
      block content
      
      block footer
        if locals.userInfo
          input#myId(type="hidden", value="#{userInfo._id}");
        article#chat.chat-window(style='width: 280px; display: none;')
          header
            a.close(title='关闭') x
          section
            .dialog
              article.dialogs
          footer.wp-edit-box
            form.editor(method='post', action='')
              textarea(eicons_obj_id='1')
              .wp-chat-send-box.clearfix
                a.wp-chat-send(href='#nogo') 发送