extend head

block title
    title #{title}

block content
    #glist  
      .glist
        .section
          .glist-title
            h3
              span.icon.icon-ershou
              a(href='/ershou/', target='_blank') 物品交易
          .glist-section
            a(target='_blank', href='/shouji/') 手机及配件
            hr
            a(target='_blank', href='/shoujihaoma/')
              .glist-section-block 手机号码
            a(target='_blank', href='/bijiben/') 电脑及配件
            a(target='_blank', href='/zhaoxiangji/')
              .glist-section-block 数码产品
            a(target='_blank', href='/jiaju/') 家具/办公家具
            a(target='_blank', href='/dianqi/')
              .glist-section-block 家用电器
            a(target='_blank', href='/riyongpin/')
              .glist-section-block 日常用品
            a(target='_blank', href='/nongchanpin/')
              .glist-section-block 食品/农产品
            a(target='_blank', href='/bangongyongpin/')
              .glist-section-block 办公经营设备
            a(target='_blank', href='/shoucang/')
              .glist-section-block 收藏品/工艺品
            a(target='_blank', href='/fushi/') 服装/配饰/鞋包
            a(target='_blank', href='/yinger/') 母婴/玩具
            a(target='_blank', href='/yundongqicai/') 运动/图书/乐器
            a(target='_blank', href='/menpiao/') 门票卡券
            a(target='_blank', href='/gongyeshebei/')
              .glist-section-block 工业设备
            a(target='_blank', href='/qitazhuanrang/')
              .glist-section-block 其他物品
        .section
          .glist-title
            h3
              span.icon.icon-chongwuleimu
              a(href='/chongwuleimu/', target='_blank') 宠物
          .glist-section
            a(target='_blank', href='/chongwujiaoyi/') 狗狗
            a(target='_blank', href='/chongwumao/') 猫猫
            a(target='_blank', href='/qitachongwu/')
              .glist-section-block 花鸟鱼虫/其他
            hr
            a(target='_blank', href='/chongwulingyang/')
              .glist-section-block 宠物免费赠送
            a(target='_blank', href='/chongwuyongpin/')
              .glist-section-block 宠物用品/食品
            a(target='_blank', href='/chongwupeizhong/')
              .glist-section-block 宠物服务/配种
      .glist
        .section
          .glist-title
            h3
              span.icon.icon-cheliang
              a(href='/cheliang/', target='_blank') 车辆买卖
          .glist-section
            a(target='_blank', href='/ershouqiche/') 二手轿车
            a(target='_blank', href='/ershougongchengche/')
              .glist-section-block 货车/工程车
            a(target='_blank', href='/xiaxianche/')
              .glist-section-block 本地下线车
            a(target='_blank', href='/ershoukache/')
              .glist-section-block 面包车/客车
            a(target='_blank', href='/tuolaji/')
              .glist-section-block 拖拉机/收割机
            hr
            a(target='_blank', href='/xincheyouhui/')
              .glist-section-block 新车优惠/4S店
            a(target='_blank', href='/qicheyongpin/') 汽车用品
            a(target='_blank', href='/qichepeijian/') 汽车配件
            a(target='_blank', href='/cheliangqiugou/') 车辆收购
            a(target='_blank', href='/shangpaiyanche/') 过户上牌
            a(target='_blank', href='/shangpaiyanche/?类型=年检') 年检验车
            a(target='_blank', href='/shangpaiyanche/?类型=车险') 车险
            a(target='_blank', href='/cheliangpinggu/') 评估师
            a(target='_blank', href='/gerenzuche/#che') 租车
            a(target='_blank', href='/jiaxiaofuwu/#che') 驾校
            a(target='_blank', href='/peijiafuwu/#che') 陪驾代驾
            a(target='_blank', href='/jinrongfuwu/#che') 买车贷款
            hr
            a(target='_blank', href='/ershoumotuoche/')
              .glist-section-block 摩托车/燃气车
            a(target='_blank', href='/ershoudiandongche/') 电动车
            a(target='_blank', href='/ershouzixingche/') 自行车
        .section
          .glist-title
            h3
              span.icon.icon-huodong
              a(href='/huodong/', target='_blank') 交友活动
          .glist-section
            a(target='_blank', href='/zhenghun/')
              .glist-section-block 征婚
            a(target='_blank', href='/nvzhaonan/') 女找男
            a(target='_blank', href='/nanzhaonv/') 男找女
            hr
            a(target='_blank', href='/juhui/') 同城聚会
            a(target='_blank', href='/jinengjiaohuan/') 技能交换
            a(target='_blank', href='/daqiu/') 运动打球
            a(target='_blank', href='/lvyou/') 结伴出游
            hr
            a(target='_blank', href='/pinche/') 长途拼车
            a(target='_blank', href='/shangxiabanpinche/') 上下班拼车
            a(target='_blank', href='/laoxianghui/') 老乡会
            a(target='_blank', href='/xunrenqishi/') 寻人/寻物
            hr
            a(target='_blank', href='/dazhecuxiao/') 打折促销
      .glist
        .section
          .glist-title
            h3
              span.icon.icon-fang
              a(href='/fang/', target='_blank') 房屋租售
          .glist-section
            a.highlight(target='_blank', href='/zhengzu/') 租房
            a(target='_blank', href='/duanzu/') 日租/短租
            hr
            a(target='_blank', href='/ershoufang/') 二手房出售
            a(target='_blank', href='/xinfangchushou/') 新房出售
            a(target='_blank', href='/shoufang/') 写字楼出售
            a(target='_blank', href='/shangpuchushou/') 商铺出售
            hr
            a(target='_blank', href='/jingyingzhuanrang/')
              .glist-section-block 店铺转让/出租
            a(target='_blank', href='/changfang/')
              .glist-section-block 厂房/仓库/土地
            a(target='_blank', href='/shangpu/') 写字楼出租
            a(target='_blank', href='/qiufang/') 求租/求购
        .section
          .glist-title
            h3
              span.icon.icon-jianzhi
              a(href='/jianzhi/', target='_blank') 兼职招聘
          .glist-section
            a(target='_blank', href='/xueshengjianzhi/')
              .glist-section-block 学生兼职/实习
            hr
            a(target='_blank', href='/cuxiaojianzhi/') 促销
            a(target='_blank', href='/paifajianzhi/') 传单派发
            a(target='_blank', href='/jiajiao/') 家教
            a(target='_blank', href='/wenjuanjianzhi/') 问卷调查
            a(target='_blank', href='/kefujianzhi/') 客服
            a(target='_blank', href='/cantingjianzhi/') 餐厅/服务员
            hr
            a(target='_blank', href='/mote/') 模特
            a(target='_blank', href='/liyi/') 礼仪
            a(target='_blank', href='/yanyuan/') 演员
            a(target='_blank', href='/sheyingjianzhi/') 摄影
            a(target='_blank', href='/wangzhan/') 网站
            a(target='_blank', href='/shejijianzhi/') 设计
            a(target='_blank', href='/kuaijijianzhi/') 会计
            a(target='_blank', href='/fanyijianzhi/') 翻译
            hr
            a(target='_blank', href='/qitajianzhi/') 其他兼职
            a(target='_blank', href='/chongchang/') 充场/座谈会
        .section
          .glist-title
            h3
              span.icon.icon-jiaoyupeixun
              a(href='/jiaoyupeixun/', target='_blank') 教育培训
          .glist-section
            a(target='_blank', href='/jinengpeixun/')
              .glist-section-block 职业技能培训
            a(target='_blank', href='/xuelipeixun/') 学历教育
            a(target='_blank', href='/diannaopeixun/') 电脑培训
            a(target='_blank', href='/waiyupeixun/') 外语培训
            a(target='_blank', href='/shejipeixun/') 设计培训
            a(target='_blank', href='/jiajiaopeixun/') 中小学教育
            a(target='_blank', href='/youerpeixun/') 婴幼儿教育
            a(target='_blank', href='/wentipeixun/')
              .glist-section-block 文艺/体育培训
      .glist
        .section
          .glist-title
            h3
              span.icon.icon-gongzuo
              a(href='/gongzuo/', target='_blank') 全职招聘
          .glist-section
            a(target='_blank', href='/dianyuan/') 营业员
            a(target='_blank', href='/dianzhang/') 店长
            a(target='_blank', href='/fuwuyuan/') 服务员
            a(target='_blank', href='/shouyinyuan/') 收银员
            a(target='_blank', href='/xiaoshou/') 销售
            a(target='_blank', href='/fangdichan/') 房产经纪人
            hr
            a(target='_blank', href='/wenmi/') 文员
            a(target='_blank', href='/zhuli/') 助理
            a(target='_blank', href='/qiantai/') 前台
            a(target='_blank', href='/xingzheng/') 行政
            a(target='_blank', href='/renshi/') 人事
            a(target='_blank', href='/kefu/') 客服
            a(target='_blank', href='/editor/') 编辑
            a(target='_blank', href='/fanyi/') 翻译
            hr
            a(target='_blank', href='/bangyong/') 家政
            a(target='_blank', href='/baojie/') 保洁
            a(target='_blank', href='/siji/') 司机
            a(target='_blank', href='/baoan/') 保安
            a(target='_blank', href='/chushi/') 厨师
            a(target='_blank', href='/qiepei/') 切配
            a(target='_blank', href='/songhuoyuan/') 送货员
            a(target='_blank', href='/kuaidiyuan/') 快递员
            a(target='_blank', href='/cangguan/') 仓管
            a(target='_blank', href='/wangguan/') 网管
            a.highlight(target='_blank', href='/gongren/')
              .glist-section-block 本地工人/技工
            a(target='_blank', href='/baoxian/')
              .glist-section-block 金融/银行/保险
            a(target='_blank', href='/kuaiji/')
              .glist-section-block 财务/会计/出纳
            a(target='_blank', href='/laoshi/')
              .glist-section-block 教育/培训/咨询
            a(target='_blank', href='/chengxuyuan/')
              .glist-section-block IT/通信/互联网
            a(target='_blank', href='/shichang/')
              .glist-section-block 市场/运营/策划
            a(target='_blank', href='/meigong/')
              .glist-section-block 广告/美工/设计
            a(target='_blank', href='/sheying/') 摄影/影视
            a(target='_blank', href='/meirongshi/') 美容美发
            a(target='_blank', href='/baojian/') 保健按摩
            a(target='_blank', href='/ktvjiuba/') KTV/酒吧
            a(target='_blank', href='/qitazhaopin/') 其他招聘
            a(target='_blank', href='/zhaopinhui/') 人才招聘会
        .section
          .glist-title
            h3
              span.icon.icon-qiuzhi
              a(href='/qiuzhi/', target='_blank') 求职简历
          .glist-section
            a(target='_blank', href='/qiuzhijianli/')
              .glist-section-block 全职求职简历
            a(target='_blank', href='/jianzhiqiuzhi/')
              .glist-section-block 兼职求职简历
      .glist
        .section
          .glist-title
            h3
              span.icon.icon-fuwu
              a(href='/fuwu/', target='_blank') 生活服务
          .glist-section
            a(target='_blank', href='/gerenzuche/') 租车
            a(target='_blank', href='/qicheweixiu/') 汽修/保养
            a(target='_blank', href='/jiaxiaofuwu/') 驾校
            a(target='_blank', href='/peijiafuwu/') 陪驾/代驾
            a(target='_blank', href='/siyi/') 婚庆/化妆
            a(target='_blank', href='/sheyingfuwu/') 摄影
            a(target='_blank', href='/meirongfuwu/') 美容纤体
            a(target='_blank', href='/zhuangxiu/') 装修
            a(target='_blank', href='/jiancaizhuangshi/') 建材装饰
            a(target='_blank', href='/licaifuwu/') 投资理财
            hr
            a(target='_blank', href='/baomu/') 保姆/月嫂
            a(target='_blank', href='/baojieqingxi/') 保洁/清洗
            a(target='_blank', href='/banjia/') 搬家
            a(target='_blank', href='/huishou/') 物品回收
            a(target='_blank', href='/jiadianweixiu/') 家电维修
            a(target='_blank', href='/diannaoweixiu/') 电脑维修
            a(target='_blank', href='/jiajuweixiu/') 家居维修
            a(target='_blank', href='/weixiu/') 疏通
            a(target='_blank', href='/canyin/') 外卖/送水
            a(target='_blank', href='/kaisuo/') 开锁/修锁
            hr
            a(target='_blank', href='/lvxingshe/') 旅游
            a(target='_blank', href='/yule/') 休闲娱乐
            a(target='_blank', href='/jiudianfuwu/') 酒店
            a(target='_blank', href='/jipiaofuwu/') 机票/签证
            hr
            a(target='_blank', href='/jiameng/') 招商加盟
            a(target='_blank', href='/jinrongfuwu/') 担保/贷款
            a(target='_blank', href='/daibanzhuce/') 公司注册
            a(target='_blank', href='/kuaijifuwu/') 会计/审计
            a(target='_blank', href='/wangzhanjianshe/') 网站建设
            a(target='_blank', href='/kuaidi/') 快递/物流
            a(target='_blank', href='/shebeizulin/') 设备租赁
            a(target='_blank', href='/qingdian/') 庆典/演出
            hr
            a(target='_blank', href='/yinshuapenghui/') 印刷/喷绘
            a(target='_blank', href='/sheji/') 设计策划
            a(target='_blank', href='/lvshifuwu/') 律师
            a(target='_blank', href='/fanyifuwu/') 翻译/速记
            a(target='_blank', href='/xianhualipin/') 鲜花/盆景
            a(target='_blank', href='/lipinfuwu/') 礼品定制
            a(target='_blank', href='/bendimingzhan/') 本地名站
            a(target='_blank', href='/qitafuwu/') 其他服务
            hr
