#header {
    width: 940px;
    margin: 10px auto;
}
.logo {
    float: left;
    width: 180px;
}
.top {
    margin-left: 200px;
    height: 50px;
}
.top-item {
    line-height: 50px;
    margin-top: 10px;
    border-left: 1px solid #ddd;
}

.header-search {
    padding-left: 30px;
    float: left;
}

.header-search button {
    margin-left: 10px;
}

.header-right {
    float: right;
}

.header-right a {
    margin-left: 15px;
}

#header .nav {
    margin-left: 200px;
    margin-top: 35px;
    background-color: #F0F0F0;
    border: 1px solid #ddd;
    float: none;
}

#header .nav ul {
    margin-bottom: 0;
}

#header .nav li {
    float: left;

}

#header .nav li:hover {
    background-color: #DDD;
}

#header .nav a {
    display: inline-block;
    padding: 8px 40px;
    font-size: 16px;
    border-right: 1px solid #ccc;
}

.page-header {
    padding-left: 180px;
}



.sidebar {
    border: 1px solid #e5e5e5;
}

.sidebar li {
    line-height: 20px;
    border-bottom: 1px solid #E5E5E5;
}

.sidebar li:hover {
    background-color: whiteSmoke;
}

.sidebar li:last-child {
    border-bottom: none;
}

.sidebar a{
    padding: 12px 20px;
    display: block;
    font-size: 15px;
}

.sidebar a:hover {
   text-decoration: none;
}

.sidebar .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}

.sidebar .active {
    background-color: #4188D2;
}

.sidebar .active:hover {
    background-color: #4188D2;
}

.sidebar .active a {
    color: white;
}

.sidebar .active [class^="icon-"] {
    background-image: url("../images/glyphicons-halflings-white.png");
    opacity: 1;
}

.cat {
    padding-bottom: 15px;
    border: 1px solid #E5E5E5;
}

.cat-item {
    font-size: 16px;
    color: white;
    background-color: #00AA72;
    padding: 5px 10px;
    margin: 10px 20px;
    display: inline-block;
}

.cat-item:hover {
    text-decoration: none;
    color: white;
}

.cat-item:nth-child(4n) {
    background-color: #FF5600;
}

.cat-item:nth-child(4n+1) {
    background-color: #00AA72;
}

.cat-item:nth-child(4n+2) {
    background-color: #349BB9;
}

.cat-item:nth-child(4n+3) {
    background-color: #FF9900;
}

#createForm {
    display: none;
}

#changeCat {
    margin-left: 5px;
}

#changeCat:hover {
    cursor: pointer;
    text-decoration: none;
}

form .required {
    margin-right: 5px;
    display: inline-block;
    color: #DA5252;
}

.input-xlarge {
    width: 400px;
}

.radio {
    display: inline-block;
    width: 40px;
}


// category

li.list-item {
    padding: 5px 10px 0 0;
    border-bottom: 1px solid #E5E5E5;
}

.list-content {
    float: left;
}
.list-content p {
    margin-bottom: 4px;
}
.list-content .item-title {
    font-size: 16px;
}
.list-content .item-meta {
    color: #888;
}
.list-date {
    float: right;
    margin-top: 20px;
}
.filters {
    margin-top: 12px;
}
.filters p {
    margin-bottom: 5px;
}

.post {
    padding: 0 15px;
    border: 1px solid #E5E5E5;
}
.post-head {
    margin: 20px 0;
}

.post-info {
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

.post-info span {
    margin-right: 10px;
}

.basic-item p {
    margin-top: 15px;
}

#ads #phone {
    font-size: 28px;
}

.pic {
    margin: 20px 0;
}
.pic-item {
    margin-top: 15px;
}
.pic-item img {
    max-width: 100%;
}


#sidebar .creater {
    margin-top: 55px;
    border: 1px solid #EEE;
    padding: 10px 5px;
}
#sidebar .title {
    padding-bottom: 5px;
    border-bottom: 1px solid #CCC;
    margin-bottom: 10px;
}
#sidebar .post-item {
    margin-bottom: 10px;
}

/* profile */

#aside ul {
    border: 1px solid #ddd;
    padding-bottom: 10px;
} 

#aside .nav-list .nav-header, #aside .nav-list > li > a {
    font-size: 14px;
    padding: 8px 15px;
}


.bg {
    text-align: center;
    padding: 80px 0;
    background-color: #2A303F;
    min-height: 240px;
}